@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

body {
  font-family: 'Baloo 2', cursive;
  font-size: 16px;
  color: black;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.blob {
  max-width: 700px;
  aspect-ratio: 1;
  min-width:500px;
  padding: 10% 5%;
  background-color: red;
  -webkit-mask-image: url(../img/blob1.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/blob1.svg);
  mask-size: cover;
}

.inside-blob {
  color: white;
  font-weight: bold;
  max-width: 400px;
  max-height:400px;
}

.mini-blob {
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
  background-color: red;
  -webkit-mask-image: url(../img/blob1.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/blob1.svg);
  mask-size: cover;
}

.mini-blob2 {
  margin-top: -20px;
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-mask-image: url(../img/blob1.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/blob1.svg);
  mask-size: cover;
}

#weather {
  border-left: solid 3px black;
}

#get-joke {
  width: 150px;
  background-color: #EDC951;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}

#voting img {
  width: 40px;
}
